.container {
    width: 70%;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}